@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
/* line 36, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more {
  font-family: 'Lora', serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  width: 12rem;
  height: auto;
}

@media screen and (max-width: 800px) {
  /* line 36, ../New Sito ReyOasi/scss/button-hover.scss */
  .learn-more {
    width: 9rem;
  }
}

/* line 57, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  background: -webkit-radial-gradient(circle farthest-corner at -8.9% 51.2%, #ff7c00 0%, #ff7c00 15%, #ffa34d 20%, #ffa34d 23%, #131e25 25%, #202e36 60%);
  background: radial-gradient(circle farthest-corner at -8.9% 51.2%, #ff7c00 0%, #ff7c00 15%, #ffa34d 20%, #ffa34d 23%, #131e25 25%, #202e36 60%);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 1.625rem;
  box-shadow: 5px 5px 10px 5px rgba(124, 124, 124, 0.4);
}

@media screen and (max-width: 800px) {
  /* line 57, ../New Sito ReyOasi/scss/button-hover.scss */
  .learn-more .circle {
    width: 2.6rem;
    height: 2.6rem;
  }
}

/* line 73, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

/* line 81, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

@media screen and (max-width: 800px) {
  /* line 81, ../New Sito ReyOasi/scss/button-hover.scss */
  .learn-more .circle .icon.arrow {
    left: 0.45rem;
  }
}

/* line 93, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

/* line 108, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.9rem;
  color: #fff;
  font-size: 120%;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

@media screen and (max-width: 800px) {
  /* line 108, ../New Sito ReyOasi/scss/button-hover.scss */
  .learn-more .button-text {
    font-size: 110%;
  }
}

/* line 130, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more:hover .circle {
  width: 100%;
}

/* line 134, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more:hover .circle .icon.arrow {
  left: 0.2rem;
  background: #fff;
  transform: translate(1rem, 0);
}

/* line 142, ../New Sito ReyOasi/scss/button-hover.scss */
.learn-more:hover .button-text {
  color: #fff;
}

/*# sourceMappingURL=button-hover.css.map */