@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
/* line 15, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;
  z-index: 3;
}

/* line 22, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}

/* line 26, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .menu .menu-nav-link span div,
#burger-toggle:checked ~ .menu img,
#burger-toggle:checked ~ .menu .title p {
  transform: translateY(0);
  transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}

/* line 35, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
  transition-delay: 0.18s;
}

/* line 35, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
  transition-delay: 0.26s;
}

/* line 35, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
  transition-delay: 0.34s;
}

/* line 35, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
  transition-delay: 0.42s;
}

/* line 44, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .burger-menu .line::after {
  transform: translateX(0);
}

/* line 48, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}

/* line 53, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}

/* line 57, ../New Sito ReyOasi/scss/hamburger-menu.scss */
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

/* line 66, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu {
  --burger-menu-radius: 4em;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 3;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
}

/* line 79, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu .line {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgba(225, 220, 215, 0.8);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

/* line 89, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu .line:nth-child(1) {
  top: 30%;
  transition: 0.8s;
}

/* line 94, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu .line:nth-child(2) {
  top: 50%;
  transition: 0.8s;
}

/* line 99, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu .line:nth-child(3) {
  top: 70%;
  transition: 0.8s;
}

/* line 104, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu .line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-darker);
  transform: translateX(-100%);
  transition: 0.5s;
}

/* line 117, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu .line:nth-child(2)::after {
  transition-delay: 0s;
}

/* line 117, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu .line:nth-child(3)::after {
  transition-delay: 0s;
}

/* line 124, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.burger-menu:hover .line::after {
  background: rgba(255, 255, 255, 0.8);
  transform: translateX(0);
}

/* line 131, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(26, 30, 35, 0.8);
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;
  font-family: Lora, sans-serif;
  z-index: 2;
}

@media screen and (max-width: 850px) {
  /* line 131, ../New Sito ReyOasi/scss/hamburger-menu.scss */
  .menu {
    display: block;
  }
}

/* line 152, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

@media screen and (max-width: 850px) {
  /* line 152, ../New Sito ReyOasi/scss/hamburger-menu.scss */
  .menu-nav {
    flex-direction: column;
    margin-top: 100px;
  }
}

/* line 165, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu-nav-item {
  flex: 1;
}

/* line 169, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu-nav-link {
  position: relative;
  display: inline-flex;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

/* line 176, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu-nav-link span {
  overflow: hidden;
}

/* line 179, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu-nav-link span div {
  transform: translateY(102%);
}

/* line 184, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu-nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

/* line 197, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* line 204, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .gallery {
  margin-top: 60px;
  text-align: center;
}

/* line 209, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .title {
  font-size: 24px;
  color: white;
  overflow: hidden;
}

/* line 214, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .title p {
  font-size: 23px;
  letter-spacing: 2px;
  transform: translateY(102%);
  font-family: 'Dancing Script', cursive;
}

/* line 223, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .images {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
  /* line 223, ../New Sito ReyOasi/scss/hamburger-menu.scss */
  .menu .images {
    justify-content: center;
  }
}

/* line 232, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .images .image-link {
  width: 15vw;
  margin: 0 12px;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  /* line 232, ../New Sito ReyOasi/scss/hamburger-menu.scss */
  .menu .images .image-link {
    width: 40%;
    margin: 0 12px 12px 0;
  }
}

/* line 242, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .images .image-link .image {
  position: relative;
  transition: 0.6s;
  display: flex;
  justify-content: center;
}

/* line 248, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .images .image-link .image::before {
  position: absolute;
  content: attr(data-label);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
}

/* line 266, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .images .image-link:hover .image {
  transform: scale(1.2);
}

/* line 269, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .images .image-link:hover .image::before {
  opacity: 1;
}

/* line 275, ../New Sito ReyOasi/scss/hamburger-menu.scss */
.menu .images img {
  height: 250px;
  transform: translateY(102%);
}

/*# sourceMappingURL=hamburger-menu.css.map */