@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

@mixin sp-layout {
  @media screen and (max-width: 850px) {
    @content;
  }
}

@mixin pc-layout {
  @media screen and (min-width: 851px) {
    @content;
  }
}

@mixin transition ($durata) {
  -webkit-transition: $durata;
     -moz-transition: $durata;
       -o-transition: $durata;
          transition: $durata;
}

#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;
  z-index: 101;

  &:checked {
    & ~ .menu {
      opacity: 1;
      visibility: visible;

      .menu-nav-link span div,
      img,
      .title p,
      .lenguage-social li{
        transform: translateY(0);
          -o-transform: translateY(0);
          -ms-transform: translateY(0);
          -webkit-transform: translateY(0);
        transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
          -o-transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
          -moz-transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
          -webkit-transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
      }

      .image-link {
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) img {
            transition-delay: 0.1s + 0.08s * $i;
              -o-transition-delay: 0.1s + 0.08s * $i;
              -moz-transition-delay: 0.1s + 0.08s * $i;
              -webkit-transition-delay: 0.1s + 0.08s * $i;
          }
        }
      }
    }

    & ~ .burger-menu {
      .line {
        &::after {
          transform: translateX(0);
            -o-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
        }

        &:nth-child(1) {
          transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
            -o-transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
            -ms-transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
            -webkit-transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
            -o-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -webkit-transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
            -o-transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
            -ms-transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
            -webkit-transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
        }
      }
    }
  }
}

.burger-menu {
  --burger-menu-radius: 4em;

  position: fixed;
  top: 3vmax;
  right: 4vmax;
  z-index: 101;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;

  #brushstroke-menu{
    position: absolute;
    top: 0px; //18.5px, 12
    right: 0%; //-30px, -70
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    @include transition(0.5s);
  }

  @include sp-layout {
    top: 3vmax;
    right: 4vmax;
  }

  .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: rgba(225, 220, 215, 1);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
      -o-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;

    &:nth-child(1) {
      top: 30%;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 70%;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3){
      transition: 0.8s;
        -o-transition: 0.8s;
        -moz-transition: 0.8s;
        -webkit-transition: 0.8s;  
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
      transition: 0.5s;
        -o-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;  
    }

    @for $i from 2 through 3 {
      &:nth-child(#{$i})::after {
        transition-delay: 0s;
          -o-transition-delay: 0s;
          -moz-transition-delay: 0s;
          -webkit-transition-delay: 0s;
      }
    }
  }

  &:hover {
    .line::after {
      background: rgba(255, 255, 255, 0.8);
      transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(26, 30, 35, 0.8);
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s; 
  font-family: Lora, sans-serif;
  z-index: 2;

  @include sp-layout {
    display: block;
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    list-style-type: none;

    @include sp-layout {
      flex-direction: column;
      margin-top: 100px;
    }

    &-item {
      flex: 1;
    }

    &-link {
      position: relative;
      display: inline-flex;
      font-size: 2rem;
      color: white;
      text-decoration: none;

      span {
        overflow: hidden;

        div {
          transform: translateY(102%);
            -o-transform: translateY(102%);
            -ms-transform: translatY(102%);
            -webkit-transform: translateY(102%);
        }
      }

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: rgb(97, 38, 38);//var(--primary-color);
        transform: scaleX(0);
          -o-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -webkit-transform: scaleX(0);
        transform-origin: right;
          -o-transform-origin: right;
          -moz-transform-origin: right;
          -webkit-transform-origin: right;
        transition: transform 0.5s;
          -o-transition: transform 0.5s;
          -moz-transition: transform 0.5s;
          -webkit-transition: transform 0.5s; 

      }

      &:hover::after {
        transform: scaleX(1);
          -o-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -webkit-transform: scaleX(1);
        transform-origin: left;
          -o-transform-origin: left;
          -moz-transform-origin: left;
          -webkit-transform-origin: left;
      }
    }
  }

  .gallery {
    margin-top: 60px;
    text-align: center;
  }

  .title {
    font-size: 24px;
    color: white;
    overflow: hidden;

    p {
      font-size: 23px;
      letter-spacing: 2px;
    //   text-transform: uppercase;
      transform: translateY(102%);
        -o-transform: translateY(102%);
        -ms-transform: translateY(102%);
        -webkit-transform: translateY(102%);
      font-family: 'Dancing Script', cursive;
    }
  }

  .images {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;

    @include sp-layout {
      justify-content: center;
    }

    .image-link {
      width: 15vw;
      margin: 0 12px;
      overflow: hidden;

      @include sp-layout {
        width: 40%;
        margin: 0 12px 12px 12px;
      }

      .image {
        position: relative;
        transition: 0.6s;
          -o-transition: 0.6s;
          -moz-transition: 0.6s;
          -webkit-transition: 0.6s;
        display: flex;
        justify-content: center;

        &::before {
          position: absolute;
          content: attr(data-label);
          top: 0;
          left: 0;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: white;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: 0.4s;
            -o-transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s; 
        }
      }

      &:hover .image {
        transform: scale(1.15);
          -o-transform: scale(1.15);
          -ms-transform: scale(1.15);
          -webkit-transform: scale(1.15);

        &::before {
          opacity: 1;
        }
      }
    }

    img {
      height: 250px;
      transform: translateY(102%);
        -o-transform: translateY(102%);
        -ms-transform: translateY(102%);
        -webkit-transform: translateY(102%);
    }
  }

  .lenguage-social{
    position: relative;
    display: flex;
    flex-wrap: wrap;

    & ul{
      overflow-x: hidden;

      & li{
        transform: translateY(102%);
        -o-transform: translateY(102%);
        -ms-transform: translateY(102%);
        -webkit-transform: translateY(102%);
      }
    }
  }
}

.lenguage{
  cursor: pointer;
  position: absolute;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;

  & ul{
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      & li{
          color: #adadad;
          margin-right: 15px;
          font-size: 13px;

          &:hover{
              color: #ffffff;
              text-decoration-line: underline;
              text-underline-offset: 2px;
          }
      }
  }
}

.social{
  cursor: pointer;
  position: absolute;
  right: 37px;
  font-family: Arial, Helvetica, sans-serif;

  & ul{
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      & li{
          margin-left: 15px;

          .fa{
              color: #adadad;
              font-size: 18px;

              &-instagram:hover{
                  color: #ff95fa;
              }

              &-facebook:hover{
                  color: #3a5ba3;
              }

              &-tripadvisor:hover{
                  color: #47b62b;
              }
          }
      }
  }
}