/* GLOBALE */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

@mixin mobile-layaut {
    @media screen and (max-width: 800px), screen and (orientation: portrait) {
        @content;
      }
}

@mixin transition ($durata) {
    -webkit-transition: $durata;
       -moz-transition: $durata;
         -o-transition: $durata;
            transition: $durata;
}

@mixin transform ($var) {
    -webkit-transform: $var;
        -ms-transform: $var;
         -o-transform: $var;
            transform: $var;
}

@mixin filter ($var) {
    -webkit-filter: $var;
            filter: $var;
}

*, *::after, *::before {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(115, 211, 255, 0.3);
}
::-moz-selection {
    background-color: rgba(115, 211, 255, 0.3);
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

body, html {
    --sfondo: ;

    background: #353535;
    color: white;
    margin: 0;
    height: 100%;
    font-family: 'Rozha One', serif;

    &::after{
        content:"";
        position:fixed; /* stretch a fixed position to the whole screen */
        top:0;
        left:0;
        right:0;
        height: 100vh; /* fix for mobile browser address bar appearing disappearing */

        background: var(--sfondo) no-repeat center center;

        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;

        @include filter(blur(2px) brightness(60%));
    }
}

/* HOME */
#sfondo{
    height: 100%;
    @include filter(blur(2px) brightness(60%));
}

#home{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1; 
    @include transition(0.5s);

    #stiky-nav{
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100%;
        @include transition(0.5s cubic-bezier(.17,.67,.83,.70));

        @include mobile-layaut{
            $bg_nav_color: rgba(19,30,37,0.8);
            background: $bg_nav_color;
            // background: -webkit-linear-gradient($bg_nav_color);
            // background: linear-gradient($bg_nav_color);
        }

        #blocco_logo{
            /* position: absolute;
            top: 3vmax; 
            left: 4vmax; */
            padding-top: 3vmax;
            padding-left: 4vmax; 
            
            @include mobile-layaut{
                /* top: 4vmax; 
                left: 5vmax; */
                padding-top: 3vmax;
                padding-left: 4vmax;
                margin-bottom: 5vmax;
            }

            #logo{
                display: inline-block;
                float: left;

                & img{
                    width: 50px;

                    @include mobile-layaut{
                        width: 50px;  
                    }
                }
            }

            #scritta_logo{
                display: inline-block;
                margin-left: 10px;
                padding-top: 15px;
                font-size: 25px;
                letter-spacing: 0px;
                font-family: 'Times New Roman', Times, serif; //cercare un bel font
                // font-family: 'Dancing Script', cursive;

                @include mobile-layaut{
                    opacity: 1;
                    padding-top: 15px;
                    font-size: 22px;
                }
            }
        }
    }

    #fisso{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vmin;
        @include transition(0.5s);
        @include filter(blur(0px) brightness(100%));

        @include mobile-layaut{
            height: 100vmax;
        }

        #home_testo{
            position: absolute;
            top: 0;
            left: 50%;
            margin: 0px;
            text-align: center;
            @include transform(translate(-50%, 100%));

            @include mobile-layaut{
                position: absolute;
                top: 17%;
                left: 50%;
                @include transform(translate(-50%, 0));
            }

            &_titolo{
                font-size: 480%;
                display: block;
                margin: 0px;

                @include mobile-layaut{
                    font-size: 10vw;
                    margin: 10px;
                }
            }

            &_sottotitolo{
                font-size: 130%;
                color: rgb(235, 235, 235);
                margin: 0px;
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 1px;

                @include mobile-layaut{
                    text-align: center;
                    font-size: 4vw;
                    margin: 10px;
                    white-space: nowrap;
                }
            }
        }

        #blocco-menu{
            position: absolute;
            top: 54%;
            left: 25%;
            margin: 0px;
            text-align: center;
            @include transform(translate(-50%, 0));

            @include mobile-layaut{
                position: absolute;
                top: 40%;
                left: 50%;
                color: rgba(255, 255, 255, 0.8);
                font-size: 2vw;
            }

            &-titolo{
                font-size: 400%;
                text-decoration: none;
                color: rgba(255, 255, 255, 1);
                display: block;
                margin: 0px;
                @include transform(translateY(30px));           
                @include transition(0.5s);

                @include mobile-layaut{
                    @include transform(translateY(0));           
                }
            }

            #visualizza-menu{
                opacity: 0;
                @include transform(translateY(-10px));           
                @include transition(0.5s);

                @include mobile-layaut{
                    opacity: 1;   
                    @include transform(translateY(0)); 
                }

                & p{
                    font-family: 'Dancing Script', cursive;
                    font-size: 130%;
                    margin-top: 0;

                    @include mobile-layaut{
                        font-size: 160%;
                    }
                }
            }

            &:hover{
                #blocco-menu-titolo{
                    color: rgba(255, 255, 255, 1);
                    @include transform(translateY(0px));
                }
 
                #visualizza-menu{
                    opacity: 1;   
                    @include transform(translateY(0px));    
                }
            }
        }

        #blocco-contatti{
            position: absolute;
            top: 54%; /*-10vmax*/
            left: 75%;
            margin: 0px;
            text-align: center;
            @include transform(translate(-50%, 0)); //mettere y a 0 perche bug ipad 

            @include mobile-layaut{
                position: absolute;
                top: 65%;
                left: 50%;
                color: rgba(255, 255, 255, 0.8);
                font-size: 2vw;
            }

            &-titolo{
                font-size: 400%;
                text-decoration: none;
                color: rgba(255, 255, 255, 1);
                display: block;
                margin: 0px;
                @include transform(translateY(30px));           
                @include transition(0.5s);

                @include mobile-layaut{
                    @include transform(translateY(0));           
                }
            }

            #visualizza-contatti{
                opacity: 0;
                @include transform(translateY(-10px));           
                @include transition(0.5s);

                @include mobile-layaut{
                    opacity: 1;   
                    @include transform(translateY(0));           
                }

                & p{
                    font-family: 'Dancing Script', cursive;
                    font-size: 130%;
                    margin-top: 0;

                    @include mobile-layaut{
                        font-size: 160%;
                    }
                }
            }

            &:hover{
                #blocco-contatti-titolo{
                    color: rgba(255, 255, 255, 1);
                    @include transform(translateY(0px));
                }
 
                #visualizza-contatti{
                    opacity: 1;   
                    @include transform(translateY(0px));    
                }
            }
        }

        .home-lenguage{
            cursor: pointer;
            position: absolute;
            bottom: 15px;
            left: 0;
            font-family: Arial, Helvetica, sans-serif;

            @include mobile-layaut{
                display: none;
            }

            & ul{
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;

                & li{
                    color: #adadad;
                    margin-right: 15px;
                    font-size: 13px;
                    @include transition(0.5s);

                    &:hover{
                        color: #ffffff;
                        text-decoration-line: underline;
                        text-underline-offset: 2px;
                    }
                }
            }
        }

        .home-social{
            cursor: pointer;
            position: absolute;
            bottom: 15px;
            right: 37px;
            font-family: Arial, Helvetica, sans-serif;

            @include mobile-layaut{
                display: none;
            }

            & ul{
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;

                & li{
                    margin-left: 15px;

                    .fa{
                        color: #adadad;
                        font-size: 18px;
                        @include transition(0.3s);

                        &-instagram:hover{
                            color: #ff95fa;
                        }

                        &-facebook:hover{
                            color: #3a5ba3;
                        }

                        &-tripadvisor:hover{
                            color: #47b62b;
                        }
                    }
                }
            }
        }
    }

    #info{
        cursor: pointer;
        position: absolute;
        bottom: 1%;
        left: 50%;
        z-index: 1;
        margin: 0px;
        font-size: 15px; 
        letter-spacing: 1.5px;
        line-height: 1px;
        color: rgb(235, 235, 235);
        text-align: center;
        @include transform(translate(-50%, 0));
        @include transition(1s);

        & p{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .arrow-down{
            margin-top: 30%;
            width: 10px; 
            @include filter(invert(97%) sepia(0%) saturate(6321%) hue-rotate(193deg) brightness(122%) contrast(84%));
        }

        &:hover{
            color: rgb(255, 255, 255);

            .arrow-down{
                @include filter(invert(99%) sepia(3%) saturate(104%) hue-rotate(18deg) brightness(116%) contrast(100%));
            }
        }
    }
}

#chi-siamo{
    position: relative;
    z-index: 1;
    width: 100%; 
    background: #faebd7;  
    @include transition(0.3s);
}